<section [class.sidenav]="isExpanded">
  <mat-list class="nav" *ngFor="let route of routeLinks">
    <a mat-list-item
       routerLinkActive="active-link"
       class="hover"
       [routerLink]="route.link">
      <mat-icon
        mat-list-icon
        [matTooltip]="!isExpanded ? route.name : null"
        matTooltipPosition="right"
        style="display: flex;">
        {{ route.icon }}
      </mat-icon>
      <p matLine *ngIf="isExpanded">{{ route.name }}</p>
    </a>
  </mat-list>
</section>