<header class="app-toolbar">
  <div class="toolbar-content">
    <div class="left-section">
      <img 
        src="assets/img/logo_icon.png" 
        alt="App Logo" 
        class="app-logo"
      >
    </div>
    
    <div class="right-section">
      <ng-container *ngIf="!isLoggedIn; else loggedInSection">
        <button 
          pButton 
          label="Login" 
          icon="pi pi-sign-in" 
          class="p-button-text login-button"
          (click)="login()"
        ></button>
      </ng-container>
      
      <ng-template #loggedInSection>
        aaaa
        <button 
          pButton 
          label="Logout" 
          icon="pi pi-sign-out" 
          class="p-button-text logout-button"
          (click)="logout()"
        ></button>
        <p-avatar *ngIf="user != undefined"
          (click)="router.navigate(['/user']);"
          [image]="user.profilePhoto || 'assets/img/user_thumb.jpeg'"
          size="normal" 
          shape="circle"
          class="profile-avatar"
        ></p-avatar>
      </ng-template>
    </div>
  </div>
</header>
    
<div style="height: 100%;">
  <router-outlet></router-outlet>
</div>